---
import CTAButton from '../page/CTAButton.astro'
type Props = {
  category: string
}
const { category }: Props = Astro.props
const href = `/products/${category}/`
---

<nav>
<a class="button is-link" {href}>🡄 Zurück zur Übersicht</a>
</nav>
