---
import Section from '@components/page/Section.astro'
type Props = {
  title?: string
}
const { title }: Props = Astro.props
---

<Section title={ title ?? 'Beschreibung' } content={true}>
  <slot />
</Section>
