---
type Props = {
  title?: string
}
const { title }: Props = Astro.props
---

<section class="box">
    <header class="title is-4">
        <h2>{title ?? 'Beschreibung'}</h2>
    </header>
  <div class="content">
      <slot />
  </div>
</section>
