---
type Props = {
  category?: string
  title: string
  headline?: string
  summary?: string
}
const { category, title, headline, summary }: Props = Astro.props
---

<header class="box">
  <h1 class="title">
    {category && (
    <span class="tag">{category}</span>
      <br />
    )}
    <span>{title}</span>
  </h1>
  {headline && <p class="subtitle is-5">{headline}</p>}
  <slot>
    {summary && <p class="content">{summary}</p>}
  </slot>
</header>
