---
type Props = {
  headline: string
  summary?: string
  category: string
}
const { headline, summary, category }: Props = Astro.props
---

<header class="box">
  <h1 class="title">
      <span class="tag">{category}</span>
      <br />
    <span>{headline}</span>
  </h1>
  {summary && <p class="subtitle">{summary}</p>}
  <slot />
</header>
