---
import Dinero, { type Options } from 'dinero.js'
type Props = {
  price: Options
}
const { price }: Props = Astro.props
const formattedPrice = Dinero(price).toFormat('$0,0.00')
---

<span>{formattedPrice}</span>
