---
import { type CollectionEntry } from 'astro:content'
import Article from '@components/page/Article.astro'
import TargetGroup from '@components/products/TargetGroup.astro'

type Props = {
  product: CollectionEntry<'coachings' | 'courses' | 'services' | 'trainings'>
  href: string
}
const { product, href }: Props = Astro.props
const { title, description, headline, summary, tags } = product.data
const subtitle = summary ?? description
---

<Article title={headline ?? title} href={`${href}${product.slug}`}>
  {subtitle && <p class="subtitle">{subtitle}</p>}
  <TargetGroup {tags} />
</Article>
