---
import type { CollectionEntry } from 'astro:content'
import Header from '@components/page/Header.astro'
import Section from '@components/page/Section.astro'
import ProductPreview from '@components/products/ProductPreview.astro'
type Props = {
  product: CollectionEntry<'products'>
  children: CollectionEntry<'products'>[]
}
const { product, children }: Props = Astro.props
const { title, headline, summary } = product.data
children.sort(function ({ data: a }, { data: b }) {
  if (a.order !== b.order) {
  return a.order - b.order
  }
  if (a.title === b.title) {
  return 0
  }
  return a.title > b.title ? 1 : -1
  })
const { Content } = await product.render()
---

<Header {title} {headline} {summary} />
<Section title="Angebote">
{children.map((p) => <ProductPreview product={p} />)}
</Section>
{product.body.length > 0 && (
<section class="box" aria-label="Disclaimer">
  <div class="content"><Content /></div>
</section>
  )}
