---
import { type CollectionEntry, getCollection } from 'astro:content'
import BaseLayout from '@layouts/BaseLayout.astro'

type Props = CollectionEntry<'trainings'>
type StaticPath = {
  params: { slug: string }
  props: Props
}

export async function getStaticPaths(): Promise<StaticPath[]> {
  const trainings = await getCollection('trainings')
  return trainings.map((training) => ({
    params: { slug: training.slug },
    props: training,
  }))
}

const training: Props = Astro.props
const { Content } = await training.render()
---

<BaseLayout {...training.data}>
  <h1>{training.data.title}</h1>
  <Content />
</BaseLayout>
