---
import BaseLayout from '../../../layouts/BaseLayout.astro'
import Header from '@components/page/Header.astro'
import Brailler from '@components/tools/Brailler.svelte'
const title = 'Brailler'
const description = 'Einfach Brailleschrift schreiben wie auf einer mechanischen Braille-Schreibmaschine'
const openGraph = { title, description }
---

<BaseLayout {title} {description} {openGraph}>
  <Header {title}>
    <p>
      Legen Sie zuerst die Tasten für die Braille-Punkte fest und drücken dann im Braille-Eingabefeld die Tasten in
      Kombination, um Braillezeichen zu erzeugen.
    </p>
  </Header>
  <Brailler client:load />
</BaseLayout>
