# Rewrite to www
Options +FollowSymLinks
RewriteEngine on
RewriteCond %{HTTP_HOST} ^infolektuell.de[nc]
RewriteRule ^(.*)$ http://www.infolektuell.de/$1 [r=301,nc]

# Caching schema
<FilesMatch "\.(js|css|svg)$">
Header set Cache-Control "public, max-age=3600"
</FilesMatch>

# Set correct mime type for web feeds
<Files rss.xml >
    AddType application/rss+xml xml
</Files>
<Files feed.json >
    AddType application/feed+json json
</Files>

# Custom 404 errors
ErrorDocument 404 /404.html
