---
import { getCollection } from 'astro:content'
import { Image } from 'astro:assets'
import siteConfig from '../../config/site'
import NavLink from '../nav/NavLink.astro'
import License from './License.astro'
import AstroBadge from '@assets/images/credits/built-with-astro/tiny.svg'
import BulmaBadge from '@assets/images/credits/made-with-bulma.png'
const pages = await getCollection('pages')
const items = pages.map(({ slug, data }) => ({
  text: data.title,
  emoji: data.emoji,
  href: `/legal/${slug}`,
}))
---

<footer class="footer">
  <div class="container">
    <nav aria-labelledby="sec-legal" class="block">
      <h2 class="title is-6" id="sec-legal">Rechtliche Links</h2>
      <div class="level">
        <div class="level-left">
          {
            items.map((item) => (
              <div class="level-item">
                <NavLink class="button is-link" {...item} />
              </div>
            ))
          }
        </div>
      </div>
    </nav>
    <section aria-labelledby="sec-credits" class="block has-text-centered">
      <h2 class="title is-6" id="sec-credits">Credits 💚<br /></h2>
      <p class="content is-small">
        <a href="https://astro.build" target="_blank" rel="noopener nofollow">
          <Image src={AstroBadge} alt="Built with Astro" width="128" height="24" />
        </a>
        <br />
        <a href="https://bulma.io" target="_blank" rel="noopener nofollow">
          <Image src={BulmaBadge} width="128" height="24" alt="Made with Bulma" />
        </a>
        <br />
        Artwork: <a href="https://labs.openai.com/" target="_blank" rel="noopener nofollow">DALL·E 2</a>
        <br />
        Icons: <a href="https://fontawesome.com/" target="_blank" rel="noopener nofollow">Font Awesome</a>
      </p>
      <License />
    </section>
  </div>
</footer>
