---
import { getEntry } from 'astro:content'
import NavItem from '../nav/NavItem.astro'
import siteConfig from '../../config/site'
const legalMenu = await getEntry('menus', 'legal')
---

<footer class="footer">
  <div class="container">
    <nav class="level" aria-label={legalMenu.data.name}>
      <div class="level-left">
        {
          legalMenu.data.items.map((item) => (
            <div class="level-item">
              <NavItem class="button is-link" {item} />
            </div>
          ))
        }
      </div>
    </nav>
    <p class="content has-text-centered">
      <span>&copy; {`${new Date().getFullYear()} ${siteConfig.title}`}</span><br />
      <span>Alle Rechte vorbehalten.</span>
    </p>
  </div>
</footer>
