---
type Props = {
  char: string
  size?: 'small' | 'medium' | 'large'
}
const { char, size, ...props }: Props = Astro.props
---

<span>{char}</span>
<style>
    span {
        margin-right: 5px;
    }
</style>
