---
import { Icon as AstroIcon } from 'astro-icon/components'
type Props = {
  name: string
  size?: 'small' | 'medium' | 'large'
}
const { name, size, ...props }: Props = Astro.props
---

<span class:list={['icon', size ? `is-${size}` : null]}>
  <AstroIcon {name} {...props} />
</span>
