---
export type Tag = {
  href: string
  text: string
}
export type Props = {
  tags: Tag[]
  color?: string
  size?: string
}
const { tags, color, size } = Astro.props
---

{
  tags.length > 0 && (
    <div class:list={['tags', size ? `are-${size}` : null]}>
      {tags.map(({ href, text }) => (
        <a class:list={['tag', color ? `is-${color}` : null]} {href}>
          {text}
        </a>
      ))}
    </div>
  )
}
