---
import BaseLayout from '@layouts/BaseLayout.astro'
import Header from '@components/page/Header.astro'
const title = 'Seite nicht gefunden'
const noindex = true
---

<BaseLayout {title} {noindex}>
  <Header {title} />
  <p class="content">Eine Seite mit dieser URL existiert nicht.</p>
</BaseLayout>
