---
import BaseLayout from '@layouts/BaseLayout.astro'
const title = 'Seite nicht gefunden'
const noindex = true
---

<BaseLayout {title} {noindex}>
  <h1 class="title">{title}</h1>
  <p>Eine Seite mit dieser URL existiert nicht.</p>
</BaseLayout>
