---
import { getEntry } from 'astro:content'
import { Icon } from 'astro-icon/components'
import BaseLayout from '@layouts/BaseLayout.astro'
import Header from '@components/page/Header.astro'
import Section from '@components/page/Section.astro'
import ContactForm from '@components/contact/ContactForm.svelte'
import VCard from '@components/contact/vcard.astro'

const title = 'Kontakt'
const person = await getEntry('authors', 'tamara-cook')
const openGraph = { title }
---

<BaseLayout {title} {openGraph}>
  <Header {title} description="Ihr Weg zu mir" />
  <Section title="Kontaktformular">
    <p class="content">
      Schreiben Sie mir einfach über das Kontaktformular. Ich werde mich dann innerhalb von zwei Werktagen bei Ihnen
      melden und einen Kennenlerntermin vorschlagen.
    </p>
    <ContactForm client:load>
      <Icon name="fa6-solid:envelope" slot="emailIcon" />
      <Icon name="fa6-solid:phone" slot="phoneIcon" />
    </ContactForm>
  </Section>
  <Section title="Weitere Kontaktmöglichkeiten">
    <p class="content">Telefonisch erreichen Sie mich am besten vormittags zwischen 10:00 und 12:00.</p>
    <VCard {person} />
  </Section>
</BaseLayout>
<style is:global lang="scss">
  @import '@assets/styles/variables.scss';
  @import 'bulma/sass/form/_all.sass';
  @import 'bulma/sass/components/message.sass';
  @import 'bulma/sass/components/card.sass';
</style>
