---
import { type CollectionEntry } from 'astro:content'
type Props = {
  training: CollectionEntry<'trainings'>
}
const { training } = Astro.props
const { motto, audience, categories } = training.data
const { headings } = await training.render()
---

{
  categories.length > 0 && audience.length > 0 && (
    <p>
      {categories.join(', ')} für {audience.join(', ')}
    </p>
  )
}
{
  motto && (
    <p>
      <q>{motto}</q>
    </p>
  )
}
<ul>
  {
    headings.map((heading) => (
      <li>
        <a href={'/trainings/' + training.slug + '#' + heading.slug}>{heading.text}</a>
      </li>
    ))
  }
</ul>
