---
import type { HTMLAttributes } from 'astro/types'
import Icon from '@components/bulma/Icon.astro'
type Props = HTMLAttributes<'a'> & {
  icon: string
  text: string
}
const { icon, text, ...props }: Props = Astro.props
---

<a class="button is-link is-fullwidth" {...props}>
  <Icon name={icon} aria-hidden="true" />
  <span set:html={text}></span>
</a>

<style>
  a {
    white-space: normal;
      margin-bottom: 5px;
  }
</style>
