---
import type { HTMLAttributes } from 'astro/types'
import Icon from '../bulma/Icon.astro'
type Props = HTMLAttributes<'a'> & {
  icon: string
  text: string
}
const { text, icon, ...props }: Props = Astro.props
---

<a class="card-footer-item" {...props}>
  <Icon name={icon} aria-hidden="true" />
  <span>{text}</span>
</a>
