---
import type { CollectionEntry } from 'astro:content'
import Eyebrow from '@components/ui/Eyebrow.astro'
import { Image } from 'astro:assets'
import { getPaddingClass, getBackgroundColor } from '@utils/styleUtils'
import type { PaddingSize, ThemeColor } from '@utils/styleUtils'

export interface Props {
  content: {
    eyebrow?: string
    headline?: string
    subheadline?: string
    partners: CollectionEntry<'partners'>
  }
  background?: ThemeColor
  padding?: PaddingSize
  paddingTop?: PaddingSize
  paddingBottom?: PaddingSize
}

const {
  content: { eyebrow, headline, subheadline, partners },
  background = 'base',
} = Astro.props
const { logos } = partners.data
const bgColor = getBackgroundColor(background)
const paddingClass = getPaddingClass({
  padding: Astro.props.padding,
  paddingTop: Astro.props.paddingTop,
  paddingBottom: Astro.props.paddingBottom,
})
---

<section class:list={['relative', bgColor, paddingClass]}>
  <div class="site-container px-4 text-center">
    {eyebrow && <Eyebrow text={eyebrow} background={background} className="text-center" />}
    <div class="flex flex-wrap justify-center gap-16">
      {
        logos.map((partner, index) => (
          <div
            class="logo-wrapper flex justify-center items-center w-32 h-20"
            data-aos="fade-up"
            data-aos-delay={index * 100}
          >
            <Image
              src={partner.logo}
              alt={partner.name}
              class="h-8 md:h-10 w-auto transition-all duration-300 object-contain object-center filter grayscale hover:grayscale-0 opacity-75 hover:opacity-100"
              width={200}
              height={80}
            />
          </div>
        ))
      }
    </div>
  </div>
</section>
