---
import Layout from '@layouts/Layout.astro'
import InnerHero from '@components/sections/InnerHero.astro'
import ContactInfo from '@components/sections/ContactInfo.astro'

const seoTitle = 'Kontakt'
const seoDescription = 'Kontaktmöglichkeiten, Adresse, Telefonnummer, Email oder Kontaktformular'
const heroContent = {
  title: 'So erreichen Sie mich',
  description:
    'Bei Interesse an meinen Dienstleistungen oder bei weiteren Fragen nehmen Sie bitte gern Kontakt zu mir auf.',
}
---

<Layout title={seoTitle} description={seoDescription} footerCta={false}>
  <InnerHero content={heroContent} />
  <ContactInfo title="Kontaktinformationen" background="base" padding="base">
    <p class="base">Am besten erreichen Sie mich über das Kontaktformular oder per Email.</p>
    <p class="base">Aufgrund des hohen Aufkommens an Spam-Anrufen bin ich telefonisch nur noch Dienstags und Donnerstags von 13:00 bis 15:00 zu erreichen.</p>
    <p class="base">Ich freue mich darauf, Sie kennenzulernen.</p>
  </ContactInfo>
</Layout>
