---
import Icon from '@components/bulma/Icon.astro'
import Section from '@components/page/Section.astro'
---
<Section title="Feed Abonnieren">
  <div class="buttons">
    <a class="button is-primary" href={Astro.url.pathname + 'feed.json'}>
      <Icon name="json-feed" />
      <span>JSON</span>
    </a>
    <a class="button is-primary" href={Astro.url.pathname + 'rss.xml'}>
      <Icon name="rss-solid" />
      <span>RSS</span>
    </a>
  </div>
</Section>
