---
type Props = {
  title: string
  href?: string
}
const { title, href }: Props = Astro.props
---

<article class="box">
  <header class="title is-5">
    <h3>{href ? <a {href}>{title}</a> : <>{title}</>}</h3>
  </header>
  <div class="content"><slot /></div>
  <slot name="cta" />
</article>
<style>
  article {
    background: rgba(255, 255, 255, 0.9);
  }
</style>
