---
import type { HTMLAttributes } from 'astro/types'
import Icon from '@components/bulma/Icon.astro'

type Props = HTMLAttributes<'a'> & {
  text?: string
  icon?: string
  emoji?: string
}
const { text, icon, emoji, ...props } = Astro.props
---

<a class="button is-primary is-medium is-fullwidth" {...props}>
  <slot>
    {icon && <Icon name={icon} size="medium" />}
    {emoji && !icon && <span>{emoji}</span>}
    {text && <span>{text}</span>}
  </slot>
</a>
<style>
  .button {
    white-space: normal;
      height: auto;
  }
</style>
