---
type Props = {
  title: string
  headline?: string
  summary?: string
}
const { title, headline, summary }: Props = Astro.props
---

<header class="box">
  <h1 class="title">{title}</h1>
  {headline && <p class="subtitle">{headline}</p>}
  <slot>
    {summary && <p class="content">{summary}</p>}
  </slot>
</header>
