---
type Props = {
  title: string
  description?: string
}
const { title, description }: Props = Astro.props
---

<header class="box">
  <h1 class="title">{title}</h1>
  {description && <p class="subtitle">{description}</p>}
  <slot />
</header>
<style>
  header {
    background: rgba(255, 255, 255, 0.5);
  }
</style>
