---
type Props = {
  title: string
  label?: string
  content: boolean
}
const { title, label, content }: Props = Astro.props
---

<section class="box" aria-label={label ?? title}>
  <h2 class="title is-4">{title}</h2>
  {content ? (<div class="content"><slot /></div>) : (<slot />)}
</section>
