---
import NavLink from '../controls/NavLink.astro'
import { mainMenu } from '../../../config/menus'
---

<header>
  <nav aria-label={mainMenu.name}>
    <ul>
      {
        mainMenu.items.map(({ href, name }) => (
          <li>
            <NavLink {href}>{name}</NavLink>
          </li>
        ))
      }
    </ul>
  </nav>
</header>
