@charset "utf-8";
// Set Initial variables
$family-sans-serif: 'DejaVu Sans', 'Noto Color Emoji', sans-serif;
$family-serif: 'DejaVu Serif', 'Noto Color Emoji', serif;
$body-size: 20px;
$white-transparent: hsla(0, 0%, 100%, 0.85);
$widescreen-enabled: true;
$fullhd-enabled: false;

// Import bulma sass utilities and variables
@import 'bulma/sass/utilities/_all.sass';

// Override Derived variables
$text: $black;
$family-secondary: $family-serif;
$container-max-width: $widescreen;
$box-background-color: $white-transparent;
