@charset "utf-8";

// Import DejaVu fonts
@import '@fontsource/dejavu-sans/index.css';
@import '@fontsource/dejavu-serif/index.css';
@import '@fontsource/noto-color-emoji/index.css';

// Update Bulma's global variables
$family-sans-serif: 'DejaVu Sans', 'Noto Color Emoji', sans-serif;
$family-serif: 'DejaVu Serif', 'Noto Color Emoji', serif;
$family-secondary: $family-serif;
$widescreen-enabled: true;
$fullhd-enabled: false;
$body-size: 20px;

// Import only what you need from Bulma
@import 'bulma/sass/utilities/_all.sass';
$text: $black;
$container-max-width: $widescreen;

@import 'bulma/sass/base/_all.sass';
@import 'bulma/sass/elements/_all.sass';
@import 'bulma/sass/form/_all.sass';
@import 'bulma/sass/components/card.sass';
@import 'bulma/sass/components/level.sass';
@import 'bulma/sass/components/message.sass';
@import 'bulma/sass/components/navbar.sass';
@import 'bulma/sass/grid/_all.sass';
@import 'bulma/sass/helpers/_all.sass';
@import 'bulma/sass/layout/section.sass';
@import 'bulma/sass/layout/footer.sass';
