@charset "utf-8";
// Import DejaVu fonts
@import '@fontsource/dejavu-sans/index.css';
@import '@fontsource/dejavu-serif/index.css';
@import '@fontsource/noto-color-emoji/index.css';

// Import variables
@import './variables.scss';

// Import only what you need from Bulma
@import 'bulma/sass/base/_all.sass';
@import 'bulma/sass/elements/_all.sass';
@import 'bulma/sass/components/level.sass';
@import 'bulma/sass/helpers/_all.sass';
@import 'bulma/sass/layout/section.sass';
@import 'bulma/sass/layout/footer.sass';

// Hyphenation
body {
  -webkit-hyphens: auto;
  -webkit-hyphenate-limit-before: 3;
  -webkit-hyphenate-limit-after: 3;
  -webkit-hyphenate-limit-chars: 6 3 3;
  -webkit-hyphenate-limit-lines: 2;
  -webkit-hyphenate-limit-last: always;
  -webkit-hyphenate-limit-zone: 8%;

  hyphens: auto;
  hyphenate-limit-chars: 6 3 3;
  hyphenate-limit-lines: 2;
  hyphenate-limit-last: always;
  hyphenate-limit-zone: 8%;
}

svg {
  line-height: initial;
}
