@charset "utf-8";
// Import bulma sass utilities and variables
@import 'bulma/sass/utilities/_all.sass';

// Update Bulma's global variables
$family-sans-serif: 'DejaVu Sans', 'Noto Color Emoji', sans-serif;
$family-serif: 'DejaVu Serif', 'Noto Color Emoji', serif;
$family-secondary: $family-serif;
$body-size: 20px;
$text: $black;
$widescreen-enabled: true;
$fullhd-enabled: false;
$container-max-width: $widescreen;
$box-background-color: rgba(255, 255, 255, 0.85);
