---
import NavLink from './NavLink.astro'
import Logo from '@components/nav/Logo.astro'
type Item = {
  emoji?: string
  text?: string
  href: string
}
type Props = {
  items: Item[]
  alignment?: 'centered' | 'right'
  separator?: 'arrow' | 'bullet' | 'dot' | 'succeeds'
  size?: 'small' | 'medium' | 'large'
}
const { items, alignment, separator, size }: Props = Astro.props
const { pathname } = Astro.url
const isActive = (href: string|URL) => href === pathname || href === pathname.replace(/\/$/, '')
---

<div class="section has-background-info">
  <div class="container">
    <nav
      class:list={[
        'breadcrumb',
        separator ? `has-${separator}-separator` : 'has-succeeds-separator',
        size ? `is-${size}` : null,
        alignment ? `is-${alignment}` : null,
      ]}
      aria-label="Breadcrumbs"
    >
      <ul>
        <li><NavLink href="/" emoji="ðŸ " aria-label="Start"><Logo /></NavLink></li>
        {
          items.map((item) => (
            <li class:list={[{ 'is-active': isActive(item.href ?? '') }]}>
              <NavLink {...item} />
            </li>
          ))
        }
      </ul>
    </nav>
  </div>
</div>
<style is:global lang="scss">
  @import '@assets/styles/variables.scss';
  $breadcrumb-item-color: $white;
  $breadcrumb-item-hover-color: $link;
  $breadcrumb-item-active-color: $white;

  @import 'bulma/sass/components/breadcrumb.sass';
</style>
<style>
  ul {
    align-items: baseline;
  }
</style>
