---
import type { MenuItem } from '@entities/menu'
import NavLink from './NavLink.astro'
type Props = {
  items: MenuItem[]
  separator?: 'arrow' | 'bullet' | 'dot' | 'succeeds'
  size?: 'small' | 'medium' | 'large'
}
const { items, separator, size }: Props = Astro.props
---

<nav
  class:list={['breadcrumb', separator ? `has-${separator}-separator` : null, size ? `is-${size}` : null]}
  aria-label="Breadcrumbs"
>
  <ul>
    {
      items.map((item) => (
        <li>
          <NavLink {...item} />
        </li>
      ))
    }
  </ul>
</nav>
