---
import '@fontsource/dejavu-serif'
import siteConfig from '@config/site'
---

<span class="is-size-4 has-text-dark" id="logo" aria-label={siteConfig.title}>â…ˆğ•Ÿğ•—ğ• lektuell</span>
<style>
  #logo {
    font-family: 'DejaVu Serif', serif;
  }
</style>
