---
import type { HTMLAttributes } from 'astro/types'
import Icon from '@components/bulma/Icon.astro'

type Props = HTMLAttributes<'a'> & {
  text?: string
  icon?: string
  emoji?: string
}
const { href, text, icon, emoji, class: className, ...props }: Props = Astro.props
const { pathname } = Astro.url
const isActive = href === pathname || href === pathname.replace(/\/$/, '')
---

<a {href} class:list={[className, { 'is-active': isActive }]} aria-current={isActive ? 'page' : null} {...props}>
  {icon && <Icon name={icon} size="medium" />}
  {emoji && !icon && <span>{emoji}</span>}
  {text && <span>{text}</span>}
  <slot />
</a>
