---
import { type CollectionEntry, getCollection } from 'astro:content'
import BaseLayout from '@layouts/BaseLayout.astro'
import Header from '@components/page/Header.astro'

type Props = CollectionEntry<'pages'>

export const getStaticPaths = async function () {
  const pages = await getCollection('pages')
  return pages.map((page) => ({
    params: { slug: page.slug },
    props: page,
  }))
}

const page: Props = Astro.props
const { title, description } = page.data
const { Content } = await page.render()
const openGraph = { title, description }
---

<BaseLayout {title} {description} {openGraph}>
    <Header {title} />
    <div class="content"><Content /></div>
</BaseLayout>
